<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
     <!--header section-->
    <div class="container">
        <div id="nav">
          <a href="#home" id="a1"> <span><i class="fas fa-home"></i></span></a>
            <ul>
                <li> <a href="#home-content">Home</a></li>

                <li> <a href="#about">About</a></li>

                <li> <a href="#ser">Services</a> </li>

                <li> <a href="#why">Why Us</a> </li>

                <li> <a href="#gallery"> Gallery</a> </li>

                <li> <a href="https://python.com"> OurTeam</a> </li>

                <li><a href="https://www.php.com"> Templates</a></li>

   
                <li> <a href="contact-us.html">Contact Us</a></li>
            </ul>

           
        </div>
    </div>
<div class="hero" id="home-content" >
    <img src="images/csc.jpg" width="100%" height="auto"alt="">
</div>

<div class="about" id="about">
    <h1>About Us</h1><br/>

    <address>
        Vill:- Kunjal Kamboyan.<br/>
        P.O:- Damla.<br/>
        Distt.:- Yamuna Nagar.<br/>
        Teh.:- Jagadhri.<br/>
        Pin:- 135002.<br/>
    </address>

   
</div><br/>
<hr>

<div class="service">
    <h1>Our Services</h1>

    <ol id="ser" type="1">
        <h2>Government to Citizen</h2>
        <li>Bharat Bill Pay</li>
        <li>FASTag through CSC’s</li>
        <li>Passport</li>
        <li>PAN Card</li>
        <li>Swacch Bharat Abhiyan</li>
        <li>Pradhan Mantri Awas Yojana</li>
        <li>e-Distric</li>
        <li>Insurance Services</li>
        <li>E-Nagrik & E- District Services {Birth/ Death Certificate etc.}</li>
        <li>Pension Services</li>
        <li>Digitize India</li>
    </ol>
    
</div>
<hr>

 
<!-- Why Us -->
 <div class="why" id="why">
    <h1>Why Us</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi quibusdam, ipsa animi earum omnis, ad laborum sequi iste culpa laudantium numquam libero suscipit, quas mollitia dicta at commodi tempora. Unde? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate voluptatem nulla perspiciatis in, iure dolorem natus voluptatibus eos delectus obcaecati ratione nostrum dolore rem repellat officiis sint amet laudantium ad! Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, quidem dolorem hic exercitationem, enim cupiditate odio accusamus vitae non rem expedita ut consequuntur? Perferendis quisquam, beatae provident placeat eius dolor? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et, ipsa pariatur esse adipisci explicabo numquam aut est sunt id, delectus voluptate nostrum, officia ullam illum sapiente ipsum aliquam. Corrupti, tempore.</p>
</div> 

 <h1 >Gallery</h1>
<div id="gallery">
    <div class="gallery">
      <img src="images/csc.jpg" alt="" width="100%" height="350px"/>
	  <p> This is First Image</p>
    </div>
</div>	

<div>
	<div class="gallery">
		  <img src="images/download.jpg" width="100%" height="350px"/>
		  <p>This is Second Image</p>
	</div>
</div>

<div>
	<div class="gallery">
		  <img src="images/hero-img.png" width="100%" height="350px"/>
		  <p>This is Third Image</p>
	</div>
</div>






    <script src="javascript/javascript.js"></script>
</body>
  </body>
</html>
